* {box-sizing: border-box;}
body {background: #FFDBAA;
    background-repeat: no-repeat;
    height: 5000px;
    color: #000;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    margin: auto;
    padding-top: 45px;}
header  {width: 100%;
    font-family:Verdana, Tahoma, sans-serif;}
header a {text-decoration: none;}
header a:link {color: #000000;}
header a:visited {color: #000000;}
header a:hover {color: #FFB7B7;}

.topnav {overflow: hidden;
    background-color: #72956E;
    position: fixed;
    top: 0;
    width: 100%;}
.topnav #myLinks {display: none;}
.topnav a {color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;}
.topnav a.icon {background-color: #F4EEEE;
    display: block;
    position: absolute;
    right: 0;
    top: 0;}
.topnav a:hover {background-color: #FFB7B7;
    color: #000000;}
.active {background-color: #96C291;
    color: #000000;}

h1 {text-align: center;
    font-size: 1.5em;}
h2 {color: #000000; 
    font-family: Verdana, Tahoma, sans-serif;}
h3 {font-family: Verdana, Tahoma, sans-serif;}
p {text-align: center;}
section {padding-left: .5em;
    padding-right: .5em;}
main {padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: block;}

div.gallery {
    border: 1px solid #000000;
    display: inline-flex;
    justify-content: center;
    align-items: center;}
div.gallery:hover {
    border: 2px solid #000000;}
div.gallery img {width: 100%;
    height: auto;}     
div.desc {padding: 15px;
    text-align: center;}
.responsive {padding: 0 6px;
    width: 25%;}
.clearfix:after {content: "";
    display: table;
    clear: both;}

#about {height: 300px;    
    background-size: 200% 100%;
    background-repeat: no-repeat;}
#contact {height: 300px;       
    background-size: 200% 100%;
    background-repeat: no-repeat;}
#gallery {height: 300px;       
    background-size: 200% 100%;
    background-repeat: no-repeat;}
#home {height: 300px;       
    background-size: 200% 100%;
    background-repeat: no-repeat;}

ul {text-align: center;
    list-style-position: inside;}
.fit-picture {max-width: 100%; max-height: 60%;}
form {display:inline-flex;
    flex-direction: column;
    width: 75%;}
input[type="submit"] {grid-column: auto; width: 9em;}
table {margin: auto;
    border: 1px solid #000000;
    width: 100%;
    border-collapse: collapse;}
td, th {padding: 5px;
    border: 1px #000000;}
table td {text-align: left;
    border: 1px solid #000000;}
.center {margin-left: auto;
    margin-right: auto;}
#mobile {display: inline;}
#desktop {display: none;}
#flow { display: flex;
    flex-flow: row;}
footer {text-align: center;
    font-size: .70em;
    padding: 1em;}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;}
video {width: 100%;
    height: auto;}

@media screen, (min-width: 600px) {
    h1 {letter-spacing: .25em;
        font-size: 2em;
        text-align: center;}
    nav ul {display: flex;
        text-align: center;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 1em;
        padding-right: 1em;
        margin: 0;
        list-style-type: none;
        padding-left: 0; }
    nav li {border-bottom: none;
        width: 12em;}
    section {padding-left: 2em;
        padding-right: 2em;}
    #mobile {display: none;}
    #desktop {display: inline;}
    form {display:inline-flex;
        flex-direction: column;
        width: 75%;}
    input[type="submit"] {grid-column: 2 / 3; width: 9em;}
    #about {height: 300px;       
        background-size: 100% 100%;
        background-repeat: no-repeat;}
    #contact {height: 300px;       
        background-size: 100% 100%;
        background-repeat: no-repeat;}
    #gallery {height: 300px;       
        background-size: 100% 100%;
        background-repeat: no-repeat;}
    #home {height: 300px;       
        background-size: 100% 100%;
        background-repeat: no-repeat;}
    .fit-picture {max-width: 100%; max-height: 60%;}
    ul {text-align: center;
        list-style-position: inside;}
    .responsive {width: 100%; display: inline-block;}
    .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;}
    .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;}
    }
@media (min-width: 768px) {
    nav ul {text-align: center;}
    #mobile {display: none;}
    #desktop {display: inline;}
    form {display:inline-flex;
        flex-direction: column;
        width: 50%;}
    input[type="submit"] {grid-column: 2 / 3; width: 9em;}
    .fit-picture {max-width: 100%; max-height: 60%;}
    ul {text-align: center;
        list-style-position: inside;}
    .responsive {display: inline-block;
        width: 50%;
        margin: 6px 0;}
    .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;}
    .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;}       
    }